@media (min-width: 600px) and (max-width:768px){
    header h1 {
        width: 40%;
    }

    .menu{
        width: 55%;
    }

    #img1 img{
        width: 100%;
    }
    #img2 img{
        width: 100%;
    }

    .planos{
        width: 30%;
    }
}
@media (min-width:435px) and (max-width:600px){

}
@media (min-width: 400px) and (max-width:600px){

    header{
        width: 100%;
    }

    header h1{
        width: 30%;
        font-size: 10pt;
        align-items: end;
    }
    .menu{
        width: 100%;
        align-items: start;
        font-size: 10pt;
        margin: 0px;
        gap: 0px;
    }

    main{
        flex-direction: column;
    }

    .cont{
        flex-direction: column-reverse;
    }


    #img1 , #img2{
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0px;
    }
    #img1 img, #img2 img{
        width: 400px;
    }
    .cont2{
        flex-direction: column;
        align-items: start;
    }

    .pri2{
        width: 100%;
    }

    .servi{
        flex-direction: column;
    }
    #serve-h2{
        justify-content: center;
        width: 100%;
        border: 1px solid red;
    }

    #planoh2{
        width: 100%;
        align-items: center;
    }
    .plano{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .planos{
        width: 60%;
    }
}

@media (min-width:319px) and (max-width:399px){
    body{
        width: 100vw;
    }

    header{
        width: 100%;
    }

    header h1{
        width: 100%;
        text-align: center;
        font-size: 12pt;
    }
    .menu{
        display:none;
    }

    .cont{
        flex-direction: column-reverse;
    }
    .cont2{
        flex-direction: column;
    }
    #img1, #img2{
        align-items: center;
        justify-content: center;
        margin: 0px;
        width: 100%;
    }
    #img1 img , #img2 img{
        width: 300px;
    }
    .pri2{
        width: 100%;
    }
    #serve-h2{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .servi{
        flex-direction: column;
    }

    #planoh2{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .plano{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .planos{
        width: 80%;
    }
}