*{
    padding: 0px;
    margin: opx;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    width: 100vw;
    height: 100vh;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    transform: translateY(20px);
}
section{
    width: 600px;
    height: 400px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.315);
}
div{
    width: 300px;
    height: 300px;
    background-size: cover;
    margin: auto;
    transform: translateY(3vh);
    border-radius: 50%;

}
