h1{
    /*muito bom esse style*/
    background-image: linear-gradient(to left,#64b618,#d32323,#161891,#caeb10,#d413bb,#0bfaee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: justify;
}